/node_modules
TheaterLaakApp/Backend/obj/Debug/net6.0/Backend.assets.cache
TheaterLaakApp/Backend.Tests/obj/Debug/net6.0/Backend.Tests.csproj.AssemblyReference.cache
TheaterLaakApp/Backend/obj/Debug/net6.0/Backend.assets.cache
