body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.nav {
  background-color: #eee;
  display: flex;
  justify-content: center;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav li {
  margin: 0 10px;
}

header nav ul li {
  margin: 0 10px;
}
.nav a {
  color: #333;
  text-decoration: none;
}


header nav ul li a {
  background-color: #D91C1C;
  color: #333;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #ccc;
}

main {
  padding: 20px;
}

footer {
    
  padding: 20px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}
.content {
  background-color: #D91C1C;
  padding: 20px;
  text-align: center;
}
