* {
  box-sizing: border-box;
}

.body {
  margin: 20px;
  margin-top: 110px;
}

/*navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem;
  z-index: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-menu {
  display: none;
}

.navbar-menu-bar {
  width: 2rem;
  height: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.navbar-item {
  margin-left: 1rem;

}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-logo {
    font-size: 1.25rem;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-menu-bar {
    width: 2rem;
    height: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
  }

  .navbar-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 2rem;
  }

  .navbar-item {
    margin: 1rem 0;
    text-align: center;
    border-bottom: 3px solid black;
    width: 100%;
  }


  .open .navbar-nav {
    display: flex;
  }

  .navbar-menu.open {
    display: block;
  }

  .navbar-nav.open {
    display: flex;
  }
}

/*footer*/
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;

}

/*Homepage*/
.HomePage {
  background-image: url("../public/afbeeldingen/theater.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;

}

.HomePage h1 {
  padding-top: 10px;
  text-align: center;

}

.uitlichting-container {
  display: flex;
}

.uitlichting-feature {
  text-align: center;
  margin: 10px;
  padding: 20px;
  transition: transform.2s;

}

.uitlichting-feature:hover {
  transform: scale(1.2);
}

.uitlichting-feature img {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .uitlichting-feature {

    padding: 0;
    margin: 0;
    padding-bottom: 5px;
  }

  .HomePage h1 {
    font-size: 20px;
    padding-top: 10px;
  }

  .uitlichting-container {
    display: block;
  }

}

/*login/registreren*/
.username {
  margin-right: 15px;
}

.password {
  margin-right: 40.5px;
}

.email {
  margin-right: 48px;
}

.login button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 134px;
}

.registreer button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 118px;
}

/*contact*/
.map {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

img {
  max-width: 100%;
  height: auto;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.vragen,
.info {
  flex: 1;
  padding: 20px;
}

.vragen input[type='email'] {
  width: 200px;
}

.vragen input[type='text'] {
  width: 200px;
  height: 100px;

  left: 44px;

}

.vragen input {
  margin: 10px;
  position: relative;

}

.vragen input[type='button'] {
  left: 44px;
  background-color: #D91C1C;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}

.vragen input[type='button']:hover {
  background-color: gray;
}

.vragen-content h1 {

  font-size: 30px;
  width: fit-content;
  margin: 0;
  margin-top: 10px;
}

section .info {
  width: 50%;
  margin: 10px;
}

.vragen-content {
  border: 2px dashed red;
  margin-top: 10px;
  padding-left: 5px;
  border-radius: 10px;
  float: right;
}

@media screen and (max-width:768px) {

  .vragen,
  .info {
    flex: 100%;
  }

  .vragen-content{
    float: none;
  }
}

/*zalen*/
.grid-container-h {
  display: inline-grid;
  grid-template-columns: auto auto auto;

  width: calc(100%-40px);

  background-image: url("");
  background-color: lightgray;
  margin-bottom: 20px;

}

.grid-container {

  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: calc(100%-40px);
  padding: 0 45.5px;



}

.tile {
  min-height: 680px;
  width: 100%;
  min-width: 380px;
  margin-bottom: 25px;
  display: flex;
  font-size: 30px;
  text-align: center;

}

.smalltile {
  padding: 10px;

  margin-bottom: 25px;
  font-size: 16px;
  text-align: center;
}

.tile-img {
  border: 1px solid black;
  background-color: antiquewhite;
  max-width: 394px;
}

.tile-text {
  display: flex;
  border: 1px solid black;
  padding-left: 20px;
  font-size: 24px;
  padding: 5px;
  justify-content: center;
}

.tile-text img {
  max-height: 40px;
}

.tile-text p {
  /*position: relative;
    min-width: 380px;
    bottom: 20px;*/
  margin: 5px;
}

.smalltile h2 {
  color: #D91C1C;
  text-align: center;
}

.smalltile p {
  color: black;
  text-align: center;
}

.tile input {
  border-radius: 10px;
}

.tile input[type='button'] {
  background-color: green;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto;
    padding: 0;
  }

  .tile-text p {
    font-size: 18px;
  }

  .tile-text {
    margin: 0;
  }

  .tile {
    min-width: 300px;
    min-height: 400px;
  }

  .tile-img {
    width: 100%;
  }

  .smalltile {
    margin: 0;
    font-size: 12px;
  }
}

/*individuele zaal pages*/
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item2 img {
  width: 100%;
}

.item3 {
  grid-area: main;
  background-color: whitesmoke;
}

.item4 {
  grid-area: right;
  text-align: center;
}

.item5 {
  grid-area: footer;
}

.menu-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu main'
    'footer footer footer footer footer right';
  gap: 10px;
  background-color: p;

  padding: 10px;
  max-width: 1050px;
  margin: auto;
  background-color: gainsboro;
}

.menu-container>div {
  margin: 0 20px;

  padding: 20px;
  font-size: 30px;

}

.menu-container .item1 h1 {
  font-size: 36px;
  margin: 0;
}

.menu-container .item1 p {
  font-size: 11px;
}

.menu-container .item1 {
  background-color: #989898;
  text-align: center;

}

#zaalform {

  max-height: 680px;

  border-radius: 10px;
  max-width: 380px;
  display: flex;
  font-size: 20px;
  text-align: center;
}

#zaalform input {
  border-radius: 10px;
}

.menu-container .item5 p {
  font-size: 20px;
}

.menu-container .item5 {
  text-align: left;
  font-family: sans-serif;
}

.item3 ul li {
  padding: 10px 0;
}

@media only screen and (max-width: 600px) {
  .menu-container {
    grid-template-areas:
      'header'
      'menu '
      'main'
      'right'
      'footer';
  }

  .menu-container>div {
    font-size: 20px;
  }

  #zaalform {
    max-width: 100%;
  }
}

/* doneren*/
.doneerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.doneerbuttons button {
  display: block;
  margin: 0 5px;
  padding: 15px;
}

.theaterdoneerform button {
  margin-top: 5px;
  ;
}

.hoeveelheid-d {
  margin-right: 15px;
}

.tekst-d {
  margin-right: 69px;
}

.doneerlink {
  text-decoration: none;
  color: black;
}

.doneerlink a:hover {
  color: #ccc;
}

/*voorstellingenpagina*/
.filters {
  width: 75%;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: auto;
  text-align: center;
}

.tile a {
  text-decoration: none;
  color: black;
}

.calender-header {
  display: flex;
}

.VoorstellingshowContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.voorstellingLink {
  text-decoration: none;
  color: black;
}

.Voorstellingshow div {
  display: flex;
  width: 75%;
  margin: auto;
  align-items: center;
  justify-content: space-between;

}

.voorstellingLink {
  text-decoration: none;
}

.Voorstellingshow {
  background-color: #C0BFBF;
}

.title {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .voorstellingLink ul {
    padding-left: 30px;
  }

  .voorstellingLink h3 {
    font-size: 14px;
  }

  .Voorstellingshow li {
    font-size: 12px;
  }

  .Voorstellingshow div {
    width: 90%;
  }

  .Voorstellingshow img {
    width: 50%;
  }

  .filters {
    display: block;
    font-size: 12px;
  }

  .title {
    font-size: 18px;
  }
}

/*voorstelling individueel*/
.row {
  width: 100%;
  display: flex;
}

.col-3 {
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: crimson;
  margin: 0 15px;
}

.col-9 {
  width: 75%;
}

.col-9 img {
  width: 100%;
}

.voorstellingInfo {
  padding: 30px;
}

.infocontainer {
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }

  .col-3 {
    width: 100%;
    margin: 0;
  }

  .voorstellingInfo {
    padding: 0;
    font-size: 14px;
  }

  .col-9 {
    width: 100%;
  }

  .voorstellingInfo h2 {
    font-size: 20px;
  }
}

/*betalen gelukt*/
.betalenGelukt {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.betalenGelukt button {
  justify-content: center;
  padding: 10px;
}

/*user tickets*/

.ticketContainer{
  max-width: 1000px;
  margin:auto;
}

.ticketContainer h1{
  text-align: center;
}

.userTickets{
  width: 100%;
  background-color: crimson;
  display: flex;
  margin: 30px 0;
}

.userTicketsList ul{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  list-style-type: none;
  float: right;
  width: 240px;
}

.userTicketsList li{
  padding: 5px 0;
  margin-right: 20px;
}

.userTicketsList{
  width: 60%;
  display: flex;
  float: right;
}

.userTickets img{
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .userTicketsList ul{
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    padding-right: 0;
  }

  .userTicketsList li{
    padding: 0px;
    margin-right: 20px;
  }
}